articles/ReinforcementLearning/BayesianNetworks/ filter=lfs diff=lfs merge=lfs -text
articles/ReinforcementLearning/BayesianNetworks/AdaRL-What_Where_and_How_to_Adapt_in_Transfer_Reinforcement_Learning_Huang_CMU_UCambridge_2022.pdf filter=lfs diff=lfs merge=lfs -text
articles/ReinforcementLearning/decision_transformer/ filter=lfs diff=lfs merge=lfs -text
articles/ReinforcementLearning/decision_transformer/Offline_Reinforcement_Learning_as_One_Big_Sequence_Modeling_Problem_Janner_2021.pdf filter=lfs diff=lfs merge=lfs -text
articles/ReinforcementLearning/decision_transformer/cs885-Decision-transformer-Reinforcement-learning-via-sequence-modeling.pdf filter=lfs diff=lfs merge=lfs -text
articles/ReinforcementLearning/decision_transformer/RvS-What_is_Essential_for_Offline_RL_via_Supervised_Learning_Emmons_2021.pdf filter=lfs diff=lfs merge=lfs -text
articles/ReinforcementLearning/decision_transformer/Training_Agents_using_Upside-Down_Reinforcement_Learning_Srivastava_2021.pdf filter=lfs diff=lfs merge=lfs -text
articles/ReinforcementLearning/Deep_Q-Learning_based_Reinforcement_Learning_Approach_for_Network_Intrusion_Detection_Alavizadeh_2021.pdf filter=lfs diff=lfs merge=lfs -text
articles/ReinforcementLearning/Deep_Reinforcement_Learning_Based_Resource_Allocation_Yan_2023.pdf filter=lfs diff=lfs merge=lfs -text
articles/ReinforcementLearning/Deep_Reinforcement_Learning_for_Resource_Allocation_in_Business_Processes_Zbikowski_ICPM_2022.pdf filter=lfs diff=lfs merge=lfs -text
docs/NotesOnSuttonsBook/EligibilityTracesSuttonSecondEdition2020.pdf filter=lfs diff=lfs merge=lfs -text
docs/NotesOnSuttonsBook/OffPolicyMethodsWithApproximationSuttonSecondEdition2020.pdf filter=lfs diff=lfs merge=lfs -text
docs/NotesOnSuttonsBook/OnPolicyPredictionWithApproximationSuttonSecondEdition2020.pdf filter=lfs diff=lfs merge=lfs -text
docs/NotesOnSuttonsBook/MonteCarloMethodsSuttonSecondEdition2020.pdf filter=lfs diff=lfs merge=lfs -text
docs/NotesOnSuttonsBook/NStepBootstrappingSuttonSecondEdition2020.pdf filter=lfs diff=lfs merge=lfs -text
docs/NotesOnSuttonsBook/PlanningAndLearningWithTabularMethodsSuttonSecondEdition2020.pdf filter=lfs diff=lfs merge=lfs -text
docs/NotesOnSuttonsBook/OnPolicyControlWithApproximationSuttonSecondEdition2020.pdf filter=lfs diff=lfs merge=lfs -text
docs/NotesOnSuttonsBook/TemporalDifferenceMethodsSuttonSecondEdition2020.pdf filter=lfs diff=lfs merge=lfs -text
articles/ReinforcementLearning/max_diffusion_reinforcement_learning/Maximum_diffusion_reinforcement_learning_Beruetta_2023.pdf filter=lfs diff=lfs merge=lfs -text
articles/ReinforcementLearning/swarm_algorithms/Reinforcement_learning_for_swarm_robotics-An_overview_of_applications_algorithms_and_simulators_Blaise_2023.pdf filter=lfs diff=lfs merge=lfs -text
articles/ReinforcementLearning/reinforcement_learning_from_human_feedback/Deep_reinforcement_learning_from_human_preferences_Paul_Christiano_OpenAI_2017.pdf filter=lfs diff=lfs merge=lfs -text
articles/ReinforcementLearning/reinforcement_learning_from_human_feedback/Training_language_models_to_follow_instructions_with_human_feedback_Ouyang_OpenAI_2022.pdf filter=lfs diff=lfs merge=lfs -text
articles/ReinforcementLearning/reinforcement_learning_from_human_feedback/Learning_to_summarize_from_human_feedback_Stiennon_OpenAI_2020.pdf filter=lfs diff=lfs merge=lfs -text
articles/ReinforcementLearning/reinforcement_learning_from_human_feedback/Training_a_Helpful_and_Harmless_Assistant_with_Reinforcement_Learning_from_Human_Feedback_Bai_Anthropic_2022.pdf filter=lfs diff=lfs merge=lfs -text
articles/ReinforcementLearning/max_diffusion_reinforcement_learning/Maximum_diffusion_reinforcement_learning_Beruetta_NWU_2023.pdf filter=lfs diff=lfs merge=lfs -text
articles/ReinforcementLearning/swarm_algorithms/Deep_Reinforcement_Learning_for_Swarm_Systems_Huettenrauch_2019.pdf filter=lfs diff=lfs merge=lfs -text
articles/ReinforcementLearning/swarm_algorithms/Kakish-DARS-2021-Using-Reinforcement-Learning-to-Herd-a-Robotic-Swarm-to-a-Target-Distribution.pdf filter=lfs diff=lfs merge=lfs -text
books/DeepReinforcementLearning_AskeePlaat2023.pdf filter=lfs diff=lfs merge=lfs -text
books/The_Cross_Entropy_Method_A_Unified_Approach_Rubinstein_Kroese_2004.pdf filter=lfs diff=lfs merge=lfs -text 
books/TheoryofGamesAndStatisticalDecisionsBlackwell1954.pdf filter=lfs diff=lfs merge=lfs -text
books/deep-reinforcement-learning-in-action-book.pdf filter=lfs diff=lfs merge=lfs -text
books/1960-howard-dynamicprogrammingmarkovprocesses.pdf filter=lfs diff=lfs merge=lfs -text
books/MarkovProcessesDynkin1969.pdf filter=lfs diff=lfs merge=lfs -text
books/Powell-OptimalLearningWileyMarch112018.pdf filter=lfs diff=lfs merge=lfs -text
books/ReinforcementLearningSuttonSecondEdition2020.pdf filter=lfs diff=lfs merge=lfs -text
books/Reinforcement_learning_state_of_the_art.pdf filter=lfs diff=lfs merge=lfs -text
docs/Inverse_RL_Sergey_Levine_2017.pdf filter=lfs diff=lfs merge=lfs -text
docs/NotesOnSuttonsBook/chapters/EligibilityTracesSuttonSecondEdition2020.pdf filter=lfs diff=lfs merge=lfs -text
docs/NotesOnSuttonsBook/chapters/MonteCarloMethodsSuttonSecondEdition2020.pdf filter=lfs diff=lfs merge=lfs -text
docs/NotesOnSuttonsBook/chapters/NStepBootstrappingSuttonSecondEdition2020.pdf filter=lfs diff=lfs merge=lfs -text
docs/NotesOnSuttonsBook/chapters/OffPolicyMethodsWithApproximationSuttonSecondEdition2020.pdf filter=lfs diff=lfs merge=lfs -text
docs/NotesOnSuttonsBook/chapters/OnPolicyControlWithApproximationSuttonSecondEdition2020.pdf filter=lfs diff=lfs merge=lfs -text
docs/NotesOnSuttonsBook/chapters/OnPolicyPredictionWithApproximationSuttonSecondEdition2020.pdf filter=lfs diff=lfs merge=lfs -text
docs/NotesOnSuttonsBook/chapters/PlanningAndLearningWithTabularMethodsSuttonSecondEdition2020.pdf filter=lfs diff=lfs merge=lfs -text
docs/NotesOnSuttonsBook/chapters/TemporalDifferenceMethodsSuttonSecondEdition2020.pdf filter=lfs diff=lfs merge=lfs -text
docs/deep_rl_tutorial_David_Silver_2016.pdf filter=lfs diff=lfs merge=lfs -text
docs/deeplearning2016_abbeel_deep_reinforcement.pdf filter=lfs diff=lfs merge=lfs -text
docs/exploration_Sergey_Levine_2017.pdf filter=lfs diff=lfs merge=lfs -text
docs/imitating_optimal_control_Sergey_Levine_2017.pdf filter=lfs diff=lfs merge=lfs -text
docs/model_based_rl_Sergey_Levine_2017.pdf filter=lfs diff=lfs merge=lfs -text
docs/nips-tutorial-policy-optimization-Schulman-Abbeel.pdf filter=lfs diff=lfs merge=lfs -text
articles/ReinforcementLearning/plasma_control/Magnetic_control_of_tokamak_plasmas_through_deep_reinforcement_learning_Degrave_DeepMind_2019.pdf filter=lfs diff=lfs merge=lfs -text
articles/ReinforcementLearning/plasma_control/Predicting_disruptive_instabilities_in_controlled_fusion_plasmas_through_deep_learning_Kates-Harbeck_Harvard_2019.pdf filter=lfs diff=lfs merge=lfs -text
articles/ReinforcementLearning/reinforcement_learning_from_human_feedback/A_General_Theoretical_Paradigm_to_Understand_Learning_from_Human_Preferences_Azar_2023.pdf filter=lfs diff=lfs merge=lfs -text
articles/ReinforcementLearning/reinforcement_learning_from_human_feedback/Direct_Preference_Optimization-Your_Language_Model_is_Secretly_a_Reward_Model_Rafailov_Stanford_2023.pdf filter=lfs diff=lfs merge=lfs -text
articles/ReinforcementLearning/reinforcement_learning_from_human_feedback/KTO-Model_Alignment_as_Prospect_Theoretic_Optimization_Ethayaragh_2023.pdf filter=lfs diff=lfs merge=lfs -text
articles/ReinforcementLearning/reinforcement_learning_from_human_feedback/ORPO-Monolithic_Preference_Optimization_without_Reference_Model_Hong_2024.pdf filter=lfs diff=lfs merge=lfs -text
articles/ReinforcementLearning/reinforcement_learning_from_human_feedback/Secrets_of_RLHF_in_Large_Language_Models_Part_I-PPO_Zheng_2024.pdf filter=lfs diff=lfs merge=lfs -text
articles/ReinforcementLearning/reinforcement_learning_from_human_feedback/SimPO-Simple_Preference_Optimization_with_a_Reference-Free_Reward_Meng_2024.pdf filter=lfs diff=lfs merge=lfs -text
articles/game_theory/States_as_Strings_as_Strategies-Steering_Language_Models_with_Game-Theoretic_Solvers_Gemp_DeepMind_2024.pdf filter=lfs diff=lfs merge=lfs -text
articles/matching/PathsTreesAndFlowersEdmonds.pdf filter=lfs diff=lfs merge=lfs -text
articles/ReinforcementLearning/reinforcement_learning_from_human_feedback/Secrets_of_RLHF_in_Large_Language_Models_Part_II-Reward_Modeling_Wang_2024.pdf filter=lfs diff=lfs merge=lfs -text
articles/ReinforcementLearning/1960-howard-dynamicprogrammingmarkovprocesses.pdf filter=lfs diff=lfs merge=lfs -text
articles/ReinforcementLearning/A_Deep_Q-Network_for_the_Beer_Game-Deep_Reinforcement_Learning_for_Inventory_Optimization_Oroojlooyjadid_2020.pdf filter=lfs diff=lfs merge=lfs -text
articles/ReinforcementLearning/Active_Offline_Policy_Selection_Konyushokva_2022.pdf filter=lfs diff=lfs merge=lfs -text
articles/ReinforcementLearning/DiscoveringFasterMatrixMultiplicationAlgorithmsWithReinforcementLearningFawziNature2021.pdf filter=lfs diff=lfs merge=lfs -text
articles/ReinforcementLearning/Neuronlike_adaptive_elements_that_can_solve_difficult_learning_control_problems_Barto1983.pdf filter=lfs diff=lfs merge=lfs -text
articles/ReinforcementLearning/Planning_with_Diffusion_for_Flexible_Behavior_Synthesis_Janner_Du_Tennenbaum_Levine_2022.pdf filter=lfs diff=lfs merge=lfs -text
articles/ReinforcementLearning/Rapid_Task-Solving_in_Novel_Environments_Ritter_2021.pdf filter=lfs diff=lfs merge=lfs -text
articles/ReinforcementLearning/Relative_Entropy_Regularized_Policy_Iteration_Abdolmaleki_2018.pdf filter=lfs diff=lfs merge=lfs -text
articles/ReinforcementLearning/Self-Consistency_Improves_Chain_of_Thought_Reasoning_in_Language_Models_Wang_2022.pdf filter=lfs diff=lfs merge=lfs -text
articles/ReinforcementLearning/TheSurprisingEffectivenessofPPOinCooperativeMulti-AgentGames_Yu2022.pdf filter=lfs diff=lfs merge=lfs -text
articles/ReinforcementLearning/The_Termination_Critic_Harutyunyan_2019.pdf filter=lfs diff=lfs merge=lfs -text
articles/ReinforcementLearning/Zero-Shot_Learning_and_its_Applications_from_Autonomous_Vehicles_to_COVID-19_Diagnosis-A_Review_Rezael_ULeeds_2020.pdf filter=lfs diff=lfs merge=lfs -text
articles/ReinforcementLearning/Adaptive_Trade-Offs_in_Off-Policy_Learning_Rowland_2019.pdf filter=lfs diff=lfs merge=lfs -text
articles/ReinforcementLearning/Data-efficient_Hindsight_Off-policy_Option_Learning_Wulfmeier_2021.pdf filter=lfs diff=lfs merge=lfs -text
articles/ReinforcementLearning/DeepLaplacian-basedOptionsforTemporally-ExtendedExploration_Klissarov_Machado_2023.pdf filter=lfs diff=lfs merge=lfs -text
articles/ReinforcementLearning/TemporalAbstractioninReinforcementLearningwiththeSuccessorRepresentation_Machado2023.pdf filter=lfs diff=lfs merge=lfs -text
articles/ReinforcementLearning/Training_a_Helpful_and_Harmless_Assistant_with_Reinforcement_Learning_from_Human_Feedback_Bai_2022.pdf filter=lfs diff=lfs merge=lfs -text
articles/ReinforcementLearning/plasma_control/First_application_of_data_assimilation‑based_control_to_fusion_plasma_Morishita_2024.pdf filter=lfs diff=lfs merge=lfs -text
articles/ReinforcementLearning/MARL/Emergent_Bartering_Behaviour_in_Multi-Agent_Reinforcement_Learning_Johansson_DeepMind_2022.pdf filter=lfs diff=lfs merge=lfs -text
articles/ReinforcementLearning/MARL/TheSurprisingEffectivenessofPPOinCooperativeMulti-AgentGames_Yu2022.pdf filter=lfs diff=lfs merge=lfs -text
articles/OptimalControl/optimal_control_systems_Naidu.pdf filter=lfs diff=lfs merge=lfs -text
articles/ReinforcementLearning/reinforcement_learning_from_human_feedback/Human-in-the-Loop_Reinforcement_Learning_A_Survey_and_Position_on_Requirements_Challenges_and_Opportunities_Retzlaff_2024.pdf filter=lfs diff=lfs merge=lfs -text
articles/ReinforcementLearning/human_like_reasoning/RL_on_Incorrect_Synthetic_Data_Scales_the_Efficiency_of_LLM_Math_Reasoning_by_Eight-Fold_Setlur_CMU_2024.pdf filter=lfs diff=lfs merge=lfs -text
articles/OptimalControl/Discrete_dynamic_programming_and_viscosity_solutions_of_the_Bellman_equation_Dolcetta_1989.pdf filter=lfs diff=lfs merge=lfs -text
articles/OptimalControl/Optimal_Nonlinear_Control_Using_Hamilton-Jacobi-Bellman_Viscosity_Solutions_on_Quasi-Monte_Carlo_Grids_Chilan_2020.pdf filter=lfs diff=lfs merge=lfs -text
articles/OptimalControl/Efficient_Algorithms_for_Globally_Optimal_Trajectories_Tsitsiklis_1995.pdf filter=lfs diff=lfs merge=lfs -text
articles/ReinforcementLearning/reinforcement_learning_from_human_feedback/RL_with_KL_penalties_is_better_viewed_as_Bayesian_inference_Korbak_2022.pdf filter=lfs diff=lfs merge=lfs -text
articles/ReinforcementLearning/reinforcement_learning_from_human_feedback/Controlled_Decoding_from_Language_Models_Mudgal_2024.pdf filter=lfs diff=lfs merge=lfs -text
articles/ReinforcementLearning/reinforcement_fine_tuning_of_LLM/Vanishing_Gradients_in_Reinforcement_Finetuning_of_Language_Models_Razin_2024.pdf filter=lfs diff=lfs merge=lfs -text
articles/ReinforcementLearning/Optimization_Issues_in_KL-Constrained_Approximate_Policy_Iteration_Lazic_2021.pdf filter=lfs diff=lfs merge=lfs -text
articles/ReinforcementLearning/Foundations_of_Reinforcement_Learning_andInteractive_Decision_Making_Foster_MIT_2024.pdf filter=lfs diff=lfs merge=lfs -text
articles/ReinforcementLearning/stream-x/Deep_Reinforcement_Learning_Without_Experience_Replay_Target_Networks_or_Batch_Updates_Elsayed_2024.pdf filter=lfs diff=lfs merge=lfs -text
books/ReinforcementLearning_KevinMurphy_an_Overview_2024.pdf filter=lfs diff=lfs merge=lfs -text
books/reinforcement-learning-and-stochastic-optimization-a-unified-framework-for-sequential-decisions-Powell-2022.pdf filter=lfs diff=lfs merge=lfs -text
books/Warren_B_Powell_Reinforcement_Learning_and_Stochastic_Optimization_2022_Version2.pdf filter=lfs diff=lfs merge=lfs -text
articles/ReinforcementLearning/reinforcement_fine_tuning_of_LLM/DeepSeekMath-Pushing_the_Limits_of_Mathematical_Reasoning_in_Open_Language_Models_Shao_2024.pdf filter=lfs diff=lfs merge=lfs -text
articles/ReinforcementLearning/reinforcement_learning_from_human_feedback/A_Little_Bit_of_Reinforcement_Learning_from_Human_Feedback_Lambert_2025.pdf filter=lfs diff=lfs merge=lfs -text
books/The_Mathematics_of_Reinforcement_Learning_Doering_UoMannheim_2024.pdf filter=lfs diff=lfs merge=lfs -text
articles/ReinforcementLearning/DPO/DPO-Shift-Shifting_the_Distribution_of_Direct_Preference_Optimization_Yang_2025.pdf filter=lfs diff=lfs merge=lfs -text
articles/ReinforcementLearning/DPO/Direct_Preference_Optimization-Your_Language_Model_is_Secretly_a_Reward_Model_Rafailov_2024.pdf filter=lfs diff=lfs merge=lfs -text
articles/ReinforcementLearning/distributional_RL/An_opponent_striatal_circuit_for_distributional_reinforcement_learning_Lowet_Harvard_2025.pdf filter=lfs diff=lfs merge=lfs -text
articles/ReinforcementLearning/imitation_learning/X-IL-Exploring_the_Design_Space_of_Imitation_Learning_Policies_Jia_2025.pdf filter=lfs diff=lfs merge=lfs -text
articles/ReinforcementLearning/imitation_learning/An_Algorithmic_Perspective_on_Imitation_Learning_Osa_1018.pdf filter=lfs diff=lfs merge=lfs -text
books/An_Algorithmic_Perspective_on_Imitation_Learning_Osa_U_of_Tokyo_2025.pdf filter=lfs diff=lfs merge=lfs -text
books/GameTheory/AnIntroductiontoGameTheoryOsborne2000.pdf filter=lfs diff=lfs merge=lfs -text
books/GameTheory/AnIntroductiontoGameTheoryOsborne2013.pdf filter=lfs diff=lfs merge=lfs -text
books/GameTheory/GameTheoryAnalysisofConflictMyerson2013.pdf filter=lfs diff=lfs merge=lfs -text
books/GameTheory/GameTheoryanditsApplicationsinTheSocialandBiologicalSciencesColmman2ed2003.pdf filter=lfs diff=lfs merge=lfs -text
docs/NotesOnSuttonsBook/chapters/DynamicProgrammingSuttonSecondEdition2020.pdf filter=lfs diff=lfs merge=lfs -text
articles/ReinforcementLearning/DPO/A_Survey_of_Direct_Preference_Optimization_Liu_2025.pdf filter=lfs diff=lfs merge=lfs -text
articles/stochastic_optimization/Methods_to_optimize_rare-event_Monte_Carlo_reliability_simulations_for_Large_Hadron_Collider_Protection_Systems_CERN-Thesis-2022.pdf filter=lfs diff=lfs merge=lfs -text
articles/stochastic_optimization/Rare-Event_Simulation_Without_Structural_Information-A_Learning-Based_Approach_Huang_2018.pdf filter=lfs diff=lfs merge=lfs -text
articles/stochastic_optimization/Tutorial_Covariance_Matrix_Adapatation_Evolution_Strategy_handout_Hansen_ETH_Zurich_2006.pdf filter=lfs diff=lfs merge=lfs -text
articles/stochastic_optimization/Maximum_Likelihood_Theory_for_Incomplete_Data_from_Exponential_Family_Sundberg_1974.pdf filter=lfs diff=lfs merge=lfs -text
articles/stochastic_optimization/Maximum_Likelihood_from_Incomplete_Data_via_the_EM_Algorithm_Dempster_1977.pdf filter=lfs diff=lfs merge=lfs -text
articles/stochastic_optimization/The_EM_Algorithm_An_old_folk_song_sung_to_fast_new_tune_Meng_1997.pdf filter=lfs diff=lfs merge=lfs -text
articles/ReinforcementLearning/reinforcement_fine_tuning_of_LLM/SWEET-RL-Training_Multi-Turn_LLM_Agents_on_Collaborative_Reasoning_Tasks_Zhou_2025.pdf filter=lfs diff=lfs merge=lfs -text
articles/ReinforcementLearning/MCTS/Monte_Carlo_Tree_Search-A_Review_of_Recent_Modifications_and_Applications_Swiechowski_2022.pdf filter=lfs diff=lfs merge=lfs -text
articles/ReinforcementLearning/MCTS/Monte-Carlo_Tree_Search_as_Regularized_Policy_Optimization_Grill_2020.pdf filter=lfs diff=lfs merge=lfs -text
docs/NotesOnSuttonsBook/chapters/GradientBanditAlgorithmsSuttonSecondEdition2020.pdf filter=lfs diff=lfs merge=lfs -text
articles/ReinforcementLearning/AC_Conjecture/What_Makes_Math_Problems_Hard_for_Reinforcement_Learning_A_Case_Study_Shehper_2025.pdf filter=lfs diff=lfs merge=lfs -text
articles/ReinforcementLearning/High-Dimensional_Continuous_Control_Using_Generalized_Advantage_Estimation_Schulman_2015.pdf filter=lfs diff=lfs merge=lfs -text
articles/ReinforcementLearning/NIPS-1999-actor-critic-algorithms-Paper.pdf filter=lfs diff=lfs merge=lfs -text
articles/ReinforcementLearning/Off-Policy_Actor-Critic_Degris_2013.pdf filter=lfs diff=lfs merge=lfs -text
books/Reinforcement_Learning-A_Comprehensive_Overview_Kevin_P_Murphy_2025.pdf filter=lfs diff=lfs merge=lfs -text
docs/Approximate_Dynamic_Programming_Short_Course_Complete_Dimitri_Bertsekas_2012.pdf filter=lfs diff=lfs merge=lfs -text
books/Rollout_Policy_Iteration_and_Distributed_Reinforcement_Learning_Bertsekas_Book_2020.pdf filter=lfs diff=lfs merge=lfs -text
articles/stochastic_optimization/Deep_Learning_for_High-Dimensional_Stochastic_Hamilton-Jacobi-Bellman_Equations_Arias_2025.pdf filter=lfs diff=lfs merge=lfs -text
articles/ReinforcementLearning/reinforcement_fine_tuning_of_LLM/LLMs_are_Greedy_Agents-Effects_of_RL_Fine-tuning_on_Decision-Making_Abilities_Schiemd_2025.pdf filter=lfs diff=lfs merge=lfs -text
articles/online_problems/A_Modern_Introduction_to_Online_Learning_Orabona_2025.pdf filter=lfs diff=lfs merge=lfs -text
articles/ReinforcementLearning/human_like_reasoning/Reinforcement_Learning_for_Reasoning_in_Large_Language_Models_with_One_Training_Example_Wang_2025.pdf filter=lfs diff=lfs merge=lfs -text
articles/ReinforcementLearning/human_like_reasoning/Absolute_Zero-Reinforced_Self-play_Reasoning_with_Zero_Data_Zhao_2025.pdf filter=lfs diff=lfs merge=lfs -text
articles/decision_theory/Decision_theory_Parmigiani_2009.pdf filter=lfs diff=lfs merge=lfs -text
books/Patterns_Predictions_and_Actions_Hardt_2024.pdf filter=lfs diff=lfs merge=lfs -text
articles/ReinforcementLearning/human_like_reasoning/Learning_to_Think-Information-Theoretic_Reinforcement_Fine-Tuning_for_LLMs_Wang_2025.pdf filter=lfs diff=lfs merge=lfs -text
articles/ReinforcementLearning/meta-rl/A_Tutorial_on_Meta-Reinforcement_Learning_Beck_2025.pdf filter=lfs diff=lfs merge=lfs -text
books/NeuroDynamicProgramming_Bertsekas_Tsitsiklis_1995.pdf filter=lfs diff=lfs merge=lfs -text
