[submodule "src/examples/reinforcement-learning"]
	path = src/examples/reinforcement-learning
	url = https://github.com/dimitarpg13/reinforcement-learning.git
[submodule "src/acme"]
	path = src/acme
	url = https://github.com/deepmind/acme.git
[submodule "src/open_spiel"]
	path = src/open_spiel
	url = https://github.com/deepmind/open_spiel.git
[submodule "src/examples/reinforcement-learning-an-introduction"]
	path = src/examples/reinforcement-learning-an-introduction
	url = https://github.com/dimitarpg13/reinforcement-learning-an-introduction.git
[submodule "src/keras-rl"]
	path = src/keras-rl
	url = https://github.com/keras-rl/keras-rl.git
[submodule "src/openai/gym"]
	path = src/openai/gym
	url = https://github.com/openai/gym.git
